<!-- app/views/tools/index.html.erb -->

<h1>Tools</h1>

<div class="container-small_card">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-md-3">
        <a href="<%= tool_path(tool) %>" class="text-decoration-none">
          <div class="small_card mb-4">
            <div class="small_card-body">
              <h2 class="small_card-title"><%= tool.name %></h2>
              <p class="small_card-text"><%= tool.brand %></p>
              <p class="small_card-text"><%= tool.description %></p>
              <p class="small_card-text"><span class="availability"><%= tool.availability ? 'Available' : 'Unavailable at the moment' %></span></p>
              <p class="small_card-text">Owned by <%= tool.user.username %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<!-- app/views/requests/index.html.erb -->

<h1>Submitted Requests</h1>

<% @requests.each do |request| %>
  <div class="request">
    <strong>Message:</strong> <%= request.message %><br>
    <hr>
  </div>
<% end %>
