<div class="row cards" data-controller="checkbox">
  <% @user_tools.each do |tool| %>
    <div class="col-md-4"> <!-- Change col-md-3 to col-md-4 to display 3 cards in a row -->
      <div class="small_card mb-4">
        <div class="index-card">
          <div class="card-body2">
            <div class="col text-center">
              <div class="image-container"> <!-- Add the image container -->
                <% if tool.photo.present? %>
                  <%= cl_image_tag tool.photo.key, class: "tool-image img-fluid" %>
                <% else %>
                  <%= image_tag "nopicture.png", class: "tool-image mx-auto", alt: "" %>
                <% end %>
              </div>
            </div>
            <h2 class="card-title mb-3"><%= truncate(tool.name, length: 18, omission: '...') %></h2>
            <p class="card-text mb-3"><%= truncate(tool.brand, length: 20, omission: '...') %></p>
            <p class="card-text mb-3"><%= truncate(tool.description, length: 25, omission: '...') %></p>
          </div>
          <div class="card-body">
            <!-- Tool availability checkbox -->
            <p class="small_card-text mb-3">
              <%= check_box_tag "tool[availability]", 1, tool.availability, class: "form-check-input", id: "tool_availability_#{tool.id}", data: { action: "change->checkbox#preventRedirect", tool_id: tool.id } %>
              <%= label_tag "tool_availability_#{tool.id}", "Available", class: "form-check-label" %>
            </p>
            <!-- "Tool details" button -->
            <a class="btn btn-primary btn-green" href="<%= tool_path(tool) %>">Tool details</a>
            <!-- "Modify" button inside the small_card-body div -->
            <a class="btn btn-primary btn-green" data-toggle-target='edit' data-toggle-finder="tool-<%=tool.id%>" data-action='click->toggle#toggleModify' data-toggle-url="<%= edit_tool_path(tool) %>">Modify</a>
          </div>
          <div data-toggle-target="editCard"></div>
          <div class="d-none" id="tool-<%=tool.id%>">
            <%= render "tools/form", tool: tool%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
