<div class="tabs-container" data-controller="toggle" data-controller="tool-requests">
  <a class='tab selected' data-toggle-target='tab' data-tool-requests-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= dashboard_index_path %>">Pending tool requests</a>
  <a class='tab' data-toggle-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= profile_path%>">My profile</a>
  <a class='tab' data-toggle-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= tools_path %>">My tools</a>
  <a class='tab' data-toggle-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= new_tool_path %>">Add new tool</a>

  <!-- Add two line breaks -->
  <br>
  <br>

  <div data-toggle-target='cards'>
    <%= render "tool_requests/index"%>
  </div>
</div>
