

<div data-controller="toggle">
    <a class='tab selected' data-toggle-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= dashboard_index_path %>">My Profile</a>
    <a class='tab' data-toggle-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= tools_path %>">All Tools</a>
    <a class='tab' data-toggle-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= new_tool_path %>">Add new tool</a>
    <a class='tab' data-toggle-target='tab' data-action='click->toggle#toggle' data-toggle-url="<%= tools_path %>">other action</a>
  <div data-toggle-target='cards'>
    <%= render "profile", user: @user %>
  </div>
</div>
