
<div class="app-main-chat ">
      <div class="chat-wrapper"
        data-controller="chatroom-subscription"
        data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>">


          <div data-chatroom-subscription-target="messages" style="margin-bottom:3rem">
              <% chatroom.messages.each do |message| %>
                <%= render "messages/message", message: message %>
              <% end %>
            </div>



         <%= simple_form_for [chatroom, @message],
                   html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
                           class: "chat-input-wrapper" } do |f| %>
  <%= f.input :content, class: "chat-input",
               label: false,
               placeholder: "Enter your message here",
               input_html: { class: "chat-input", autocomplete: "off" } %>
  <%= f.submit "Send", class: "chat-send-btn" %>
<% end %>

  </div>
</div>
