<section class="home">
  <div class="bannerText">
    <h1 class="display-1 mb-3 pb-2">Don't buy what you can borrow!</h1>
    <h3 class="display-6 lead mb-4 pb-3">Sharing is caring, find the tool you need and borrow it!</h3>
  </div>
  <div class="text-center" style="position: absolute; left: 50%; transform: translateX(-50%); width: 50%;">
    <div class="searchbar rounded-pill">
      <%= form_with url:tools_path, method: :get, class: "form-inline my-2 my-lg-0 w-100" do %>
        <div class="input-group w-100">
          <%= text_field_tag :search, params[:search], class: "form-control custom-input", placeholder: "Search tools", aria: { label: "Search tools" } %>
          <div class="input-group-append">
            <%= button_tag "", class: "searchbar-btn btn-outline-success rounded-pill" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="text-center mt-2">
  <%= link_to "Browse Tools", tools_path, class: "btn btn-primary rounded-pill", id: "browse-tools-btn" %>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <!-- Left side with cards taking up 6 columns -->
    <div class="col-md-6">
      <div class="container mt-4">
        <h1 class="text-center font-weight-bold">Recently added</h1>
      </div>
      <div class="container mt-4 cards-margin">
        <div class="row">
          <% @tools.each do |tool| %>
            <div class="col-md-4 mb-4">
              <a href="<%= tool_path(tool) %>" class="text-decoration-none">
                <div class="card index-card">
                  <div class="card-body2">
                    <div class="col text-center">
                      <% if tool.photo.present? %>
                        <%= cl_image_tag tool.photo.key, class: "tool-image img-fluid" %>
                      <% else %>
                        <img src="https://www.shutterstock.com/image-vector/no-tools-required-screwdriver-icon-260nw-1541897120.jpg" class="tool-image mx-auto" alt="">
                      <% end %>
                    </div>
                    <h2 class="card-title"><%= truncate(tool.name, length: 20, omission: '...') %></h2>
                    <p class="card-text"><%= truncate(tool.brand, length: 20, omission: '...') %></p>
                    <div class="availability text-center" style="padding: 8px;">
                      <span class="rounded-pill <%= tool.availability ? 'bg-success' : 'bg-warning' %> text-black" style="font-size: 12px;">
                        <%= tool.availability ? 'Available' : 'Unavailable' %>
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Right side with sticky request box -->
    <div class="col-md-6">
      <div class="sticky-right">
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="request-box" style="background-color: #CFE1B9;">
                <h1>Didn't find what you were looking for?</h1>
                <%= form_for Request.new, url: post_request_path, class: "request-form" do |f| %>
                  <div class="form-group">
                    <%= f.label :message %>
                    <%= f.text_area :message, class: 'form-control', rows: 4, required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.submit 'Send message', class: 'submit-btn' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Latest requests below the request box -->
        <div class="container2 mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="latest-requests-box" data-controller="overly">
                <h2 style="color: black;">Latest Requests</h2>
                <% @latest_requests.each do |request| %>
                  <div class="request-item">
                    <p><strong>User:</strong> <%= request.user.username %></p>
                    <p><strong>Request:</strong> <%= request.message %></p>
                    <!-- Add more details as needed -->
                    <!-- "Send message!" button -->
                    <a data-action='click->overly#on'  class="btn btn-dark">Start chat!</a>
                    <%# data-action='click->overly#off' %>
                    <div id="overlay"  data-action='click->overly#off' >
                      <div id="text">
                        <%= form_with model: Message.new , url: "#{messages_sendMessage_path}?query=#{ request.id }&type=request" ,
                          :html => { :class => "messageform" },
                          data: {
                            action: "submit->overly#off
                                    keyup->overly#userwrite",
                            overly_target: "form"
                          } do |form| %>
                          <%# <%= form.error_notification %>
                          <%# <%= form.text_field :content,
                            :class => 'messageinput' %>
                            <%= form.text_area(:content, cols: 60, rows: 10) %>
                          <%= form.submit :disabled => true, 'data-overly-target': "submitButton"%>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
