<!-- app/views/tool_requests/_list.html.erb -->
<div class="row cards">
  <% @tool_requests.each do |tool_request| %>
    <div class="col-md-4 mb-3">
      <!-- Apply the small_card class for consistent styling -->
      <div class="small_card">
        <div class="small_card-body">
          <h2><%= tool_request.tool.name %></h2>
          <p><strong>User:</strong> <%= tool_request.user.username %></p>
          <p><strong>Start Date:</strong> <%= tool_request.start_date %></p>
          <p><strong>End Date:</strong> <%= tool_request.end_date %></p>
          <button
            class="btn btn-primary approve-button btn-green"
            data-controller="tool-requests"
            data-action="click->tool-requests#approve"
            data-tool-request-id="<%= tool_request.id %>"
          >
            Approve
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>
